body {
    background-color: #15192f; /* Dark blue-black */
    color: #ffffff; /* White */
    font-family: 'Bangers', sans-serif;
  }
  
  .main-page {
    padding: 20px;
  }
  
  .subheading {
    color: #C0C0C0; /* Silver-grey */
  background-color: #2f2f2f; /* Faded grey background */
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  font-family: 'Bangers', sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  }
  
  .carousel-section {
    margin-bottom: 5%;
  }
  
  .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #283447; /* Dark blue */
    border-radius: 10px;
    padding: 10px;
    margin: 0 20px; /* Adjust spacing between carousel items */
  }
  
  .carousel-item img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
  }
  
  .item-details {
    margin-top: 10px;
    color: #a0522d; /* Sienna (brown) */
  }
  
  .item-details p {
    margin: 5px 0;
  }
  
  /* Custom Carousel Styles */
.custom-carousel .carousel .control-arrow {
    background: #000000; /* Blackened buttons */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-carousel .carousel .control-arrow:hover {
    background: #fff; /* Change to white on hover */
    color: #000;
    opacity: 1;
  }
  
  .custom-carousel .carousel .control-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .custom-carousel .carousel .control-next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .custom-carousel .carousel .slide {
    display: flex;
    justify-content: center;
  }
  .button:hover {
    background-color: #ff4444;
  }
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f00;
    color: #ee0a0a;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  /* Add this CSS to your stylesheet */
.custom-carousel .item-details button {
    background-color: orange; /* Set button background color to orange */
    color: white; /* Set button text color to white */
    font-family: "Bangers", sans-serif;
    border: none; /* Remove button border */
    padding: 10px 20px; /* Add padding to the button */
    border-radius: 5px; /* Add border radius to the button */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s; /* Smooth transition effect */
  }
  
  .custom-carousel .item-details button:hover {
    background-color: darkorange; /* Change button background color to darker orange on hover */
  }
  
  .custom-carousel .item-details {
    font-family: "Bangers", sans-serif; /* Set font family to Montserrat */
    font-size: 16px; /* Set font size */
    color: #f30b0b; /* Set font color */
  }
  
  .custom-carousel .item-details p {
    margin: 5px 0; /* Add margin between paragraphs */
  }
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');