/* src/MainSell.css */
.main-sell-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 50%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .product-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .attributes {
    margin-bottom: 10px;
  }
  
  .attribute {
    margin: 5px 0;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    font-family: 'Bangers', sans-serif;
    border-radius: 5px;
    background-color: #f00;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #ff4444;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');